@fa-font-path : '../font';
/*========= font & typogaraphy =========*/
/*========= color =========*/
/*========= margin =========*/
/*========= margin =========*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
}

h1 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

/*================= Navigator =================*/
.nav {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo, .nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__logo-text {
  font-family: "Noto Serif", serif;
  font-weight: 600;
}

.nav__menu,
.nav .account,
.nav .language {
  display: none;
}

.nav__icons button {
  border: none;
}

.nav,
.header,
.section-b,
.section-c,
.section-d,
footer {
  overflow-x: hidden;
}

/*================= Header =================*/
.header {
  margin: 1rem 0;
}

.header__text {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #fff;
  z-index: 1;
}

.header__text #header__text-discover {
  font-weight: bolder;
  font-size: 1.3rem;
}

.header__text button {
  background-color: #fff;
  color: rgba(36, 36, 36, 0.8);
  padding: 0.6rem 0.8rem;
  margin: 1.5rem 0;
  border-radius: 10px;
  opacity: 0.8;
}

.header__text button:hover {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.5;
}

.header .main_slider {
  position: relative;
}

.header .main_slider img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 25rem;
  width: 100vw;
}

/*================= Section-a =================*/
.section-a {
  margin: 2rem 1rem;
}

.section-a__title {
  font-size: 1.3rem;
}

.section-a .place_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section-a .place_slide::-webkit-scrollbar {
  display: none;
}

.section-a .place_slide ul {
  width: 50vw;
}

.section-a .place_slide ul .title {
  font-weight: 500;
}

.section-a .place_slide ul li {
  margin-right: 0.5rem;
}

.section-a .place_slide ul li img {
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

/*================= Section-b =================*/
.section-b {
  margin: 2rem 1rem;
}

.section-b .grid ul {
  margin: 1rem 0;
  padding: 1.5rem;
  background: #eaeaea;
}

/*================= Section-c =================*/
.section-c {
  margin: 2rem 1rem;
  position: relative;
}

.section-c .destination__box {
  text-align: center;
  margin: 1rem 0;
}

.section-c .destination__box .text-on-image {
  position: absolute;
  background: #eaeaea83;
  width: 100%;
  height: 15vw;
  padding-top: 1rem;
}

.section-c .destination__box-text {
  top: 57%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.section-c .destination__box-text p {
  font-weight: 400;
}

.section-c .destination__box-text span {
  font-weight: 500;
}

.section-c .destination__box-text button {
  background-color: #eaeaea;
  color: rgba(36, 36, 36, 0.8);
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0;
  border-radius: 10px;
}

.section-c .destination__box-text button:hover {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.8;
}

.section-c .circle-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-c .circle-image .destination_text-detail h3 {
  font-weight: 500;
  color: #000;
}

.section-c .circle-image .destination_text-detail p,
.section-c .circle-image .destination_text-detail span {
  margin-top: 0.25rem;
  color: #000;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.section-c .circle-image .destination_text-detail span {
  font-weight: 500;
}

.section-c .circle-image img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 13vw;
  height: auto;
}

/*================= Section-d =================*/
.section-d {
  margin: 2rem 1rem;
}

.section-d a {
  color: #000;
}

.section-d .seperate-line {
  border-bottom: solid #eaeaea 0.8px;
}

.section-d .review_client {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 5rem))[2] 2fr;
      grid-template-columns: repeat(2, minmax(auto, 5rem)) 2fr;
  grid-gap: 0.5rem;
  margin: 2rem 0;
}

.section-d .review_client img {
  border-radius: 50%;
  width: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -10px;
     object-position: 0 -10px;
}

.section-d .review_client .review_details a {
  color: #a7a7a7;
  font-weight: 300;
}

.section-d .review_client .reviewAdress {
  margin-left: 0.5rem;
}

.section-d .review_client .reviewAdress .adress {
  color: #a7a7a7;
  padding: 0.25rem 0 0.5rem 0;
}

.section-d .review_client .reviewAdress a {
  font-weight: 500;
}

.section-d .review_client .reviewAdress a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.section-d .review_client .reviewAdress figure {
  padding-top: 1rem;
}

.section-d .review_client .reviewAdress figure img {
  margin-right: 0.5rem;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 3.5rem;
  height: 3rem;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.section-d .review_client .reviewAdress figure img:hover {
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.section-d .review_button {
  text-align: center;
}

.section-d .review_button button {
  background-color: #eaeaea;
  color: rgba(36, 36, 36, 0.8);
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0;
  border-radius: 10px;
}

.section-d .review_button button:hover {
  cursor: pointer;
}

/*================= Footer =================*/
.footer {
  margin: 4rem 0 0;
  padding: 1rem;
  background-color: #eaeaea;
}

.footer section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer section .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  color: #535353;
}

.footer section .footer__logo #logo {
  font-family: "Noto Serif", serif;
}

.footer section .footer__menu .footer__menu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer section .footer__menu .footer__menu-categories a {
  padding-left: 0.5rem;
  color: #000;
  font-size: 0.8rem;
  color: #535353;
}

.footer .searchBar {
  padding-top: 1rem;
  -webkit-transform: translate(15%);
          transform: translate(15%);
}

.footer .searchBar button {
  background-color: rgba(255, 255, 255, 0.849);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #535353;
}

.footer .searchBar input {
  border-style: none;
  padding: 0.2rem;
  width: 20rem;
}

/*================= Media queries =================*/
@media screen and (min-width: 700px) {
  .section-a,
  .section-b,
  .section-c,
  .section-d {
    margin: 2rem 4rem;
  }
  .header #header__text-discover {
    font-size: 1.95rem;
  }
}

@media screen and (min-width: 1200px) {
  .section-a,
  .section-b,
  .section-c,
  .section-d {
    margin: 2rem 8rem;
  }
  .header .main_slider img {
    height: 28rem;
  }
  .section-a .place_slide ul li img {
    height: 17rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-b .todo-container-first,
  .section-b .todo-container-third {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(35rem, auto))[2];
        grid-template-columns: repeat(2, minmax(35rem, auto));
    grid-gap: 1rem;
  }
  .section-b .todo-container-second .attraction li img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
  }
}
/*# sourceMappingURL=style.css.map */